# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/git_toolbox_blame.xml
/misc.xml
/modules.xml
/NSAA.iml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/.idea/
*/node_modules
*.mkv